div {
  user-select: none;
}

.row{
  padding: 10px, 2px,2px,0px;
  margin-right: 10px;
  border-radius: 2px;
  border: transparent solid 2px;
}

.row:hover {
  border-radius: 2px;
  border: #0d6efd solid 2px;
  background-color: #BBAB8C;
  transition: 0.2s;
  background-color: #0d6efd ;
  color: white;
}
