<div style="width: 300px; font-size: 18px; float: left; margin-top: 30px">
  <div style="margin: 8px; color: #888888; direction: rtl">
    <div style="margin-right: 25px" (click)="dataTableService.selected = undefined">
      <b *ngIf="dataTableService.selected === undefined; else elseBlock">
        Alle
      </b>
      <ng-template #elseBlock>
        Alle
      </ng-template>
    </div>
    <div style="margin-top: 8px" *ngFor="let category of dataTableService.categories">
      <div *ngIf="category != dataTableService.categories[0]" name="cate" (click)="dataTableService.selected = category">
        <button style="color: #888888; background-color: transparent; border: none; margin-right: 2px" (click)="dataTableService.removeCategory(category)"><b>-</b></button>
        <b *ngIf="dataTableService.selected == category; else elseBlock">
          {{category.name + ' '}}
        </b>
        <ng-template #elseBlock>
          {{category.name + ' '}}
        </ng-template>
      </div>
    </div>
    <div style="margin-top: 8px">
      <button style="color: #888888; background-color: transparent; border: none" (click)="dataTableService.addCategory()">+</button>
      <input style="background-color: transparent; color: #888888" [(ngModel)]="dataTableService.catName" (keyup.enter)="dataTableService.addCategory()">
    </div>
  </div>
</div>
