.mat-icon {
  color: #343434;
  transition: 0.5s;
  margin: 5px;
}
.mat-icon:nth-child(odd) {
  transition: 0.5s;
  color: #343434;
}

.thead {
  user-select: none;
}

.head-row {
  color: #343434
}

.todo-table {
  width: 1390px;
}

.rows {
  transition: 0.5s;
  height: 40px;
  color: #343434 ;
  font: 18px Arial bold;
}

.rows:nth-child(odd) {
  background-color: #DED0B6;
}

.rows:hover {
  background-color: #BBAB8C;
  transition: 0.2s;
  color: white;
  height: 72px;
  font-family: Arial, Helvetica, sans-serif;
}

.rows-content {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
    background: transparent;
    border: transparent;
    color: #343434;
    user-select: none;
  }
  .user-select {
    user-select: none;
  }
