<div>
  <app-nav-bar></app-nav-bar>
  <div style="width: 50%; height: 50px; position: fixed; margin-left: 25%">
    <app-message-box style="width: 500px; height: 50px"></app-message-box>
  </div>
  <div style="width: 300px" *ngIf="componentService.page == Page.LIST">
    <app-category-list style="float:left"/>
  </div>
  </div>
  <div style="display: flex; flex-direction: column; ">
    <div class="centered">
      <div style="  height: 100vh;" *ngIf="componentService.page == Page.LIST">
        <app-category-list style="float:left"/>
      </div>
      <div style="margin-left: 20px; margin-top: 20px; align-self: flex-start;">
        <app-add-todo *ngIf="componentService.page == Page.LIST"></app-add-todo>
        <ng-container [ngSwitch]="componentService.page">
          <app-todo-list *ngSwitchCase="Page.LIST"></app-todo-list>
          <app-settings *ngSwitchCase="Page.SETTINGS"></app-settings>
        </ng-container>
      </div>
    </div>
  </div>
</div>
